// Custom Variables

$elysian-background: #fcfaf6;
$elysian-primary: #547879;
$elysian-secondary: #f7f0e4;
$elysian-tertiary: #e0abaa;
$elysian-quaternary: #41495c;

$elysian-primary-dark: #476666;
$elysian-primary-light: #9fafb0;
$elysian-primary-light-2: #8b9e9f;
